<%= form_with(model: @article, local: true,class:"form-scope") do |form| %>
  <% if @article.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@article.errors.count, "error") %> prohibited
      this article from being saved:</h2>
    <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p class="text-black fw-bold">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p class="text-black fw-bold">
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <div>
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </div>
  <section>
    <div class="create-scope">
      <p>
        <%= form.submit %>
      </p>
    </div>
  </section>
<% end %>