<%= form_with(model: @article, local: true,) do |form| %>
  <% if @article.errors.any? %>
    <div id="error_explanation" class="error-message color-red">
      <h2><%= pluralize(@article.errors.count, "error",) %> prohibited this article from being saved:</h2>
      <ul class="error-ul">
      <% @article.errors.full_messages.each do |msg| %>
        <li class="error-li"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-scope">
    <p class="text-black from-input-scope">
      <%= form.label :title , class: "fw-bold form-detail" %>
      <%= form.text_field :title %>
    </p>

    <p class="text-black from-input-scope">
      <%= form.label :text , class: "fw-bold form-detail" %>
      <%= form.text_area :text %>
    </p>

    <div class="form-select-btn-scope">
      <%= form.label :status , class: "fw-bold form-select-btn" %><br>
      <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
    </div>
    <section>
      <div class="create-btn">
        <p>
          <%= form.submit "Create Article", class: "color-blue text-white" %>
        </p>
      </div>
    </section>
  </div>
<% end %>