<h1>Listing Articles</h1>
<%= link_to 'New article', new_article_path %>

<br><br>Our blog has <%= Article.public_count %> articles and counting!

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>

<% @articles.each do |article| %>

 <% unless article.archived? %> 
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
                      method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
 <% end %> 
<% end %>
</table>

<h1>Listing Articles</h1>

<section>
  <p>Our blog has <%= Article.public_count %> articles and counting!</p>
</section>

<section>
  <table>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>

  <% @articles.each do |article| %>

  <% unless article.archived? %> 
      <tr>
        <td><%= article.id %></td>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td class="button"><%= link_to 'Show', article_path(article), {class: 'show'}%></td>
        <td class="button"><%= link_to 'Edit', edit_article_path(article), {class: 'edit'}%></td>
        <td class="button"><%= link_to 'Destroy', article_path(article),
                        method: :delete, data: { confirm: 'Are you sure?' }, class: 'destroy' %></td>
      </tr>
  <% end %> 
  <% end %>
  </table>
</section>
<section>
  <div class="new-scope">
    <%= link_to 'New article', new_article_path, {class: 'create'}%>
  </div>
</section>