<div class="form-header color-header-back text-white d-flex align-items-center justify-content-space-between px-xxl py-sm">
  <h1>Listing Articles</h1>
</div>

<section class="main-block text-center w-100 my-xl">
  <p class="my-xl">Our blog has <%= Article.public_count %> articles and counting!</p>
  <table class="post-table color-white m-auto text-left d-inline-table">
    <tr class="color-table-head text-white">
      <th class="post-th py-sm px-xs text-center">Id</th>
      <th class="post-th py-sm px-xs text-center">Title</th>
      <th class="post-th py-sm px-xs text-center">Text</th>
      <th class="post-th py-sm px-xs text-center" colspan="3">operation</th>
    </tr>

  <% @articles.each do |article| %>

  <% unless article.archived? %> 
      <tr>
        <td class="post-td py-sm px-xs"><%= article.id %></td>
        <td class="post-td py-sm px-xs"><%= article.title %></td>
        <td class="post-td py-sm px-xs"><%= article.text %></td>
        <td class="post-td  py-sm px-xs button text-center"><%= link_to 'Show', article_path(article), {class: 'color-blue text-white btn p-xs'}%></td>
        <td class="post-td  py-sm px-xs button text-center"><%= link_to 'Edit', edit_article_path(article), {class: 'color-blue text-white btn p-xs'}%></td>
        <td class="post-td  py-sm px-xs button text-center"><%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, class: 'color-blue text-white btn p-xs' %></td>
      </tr>
  <% end %> 
  <% end %>
  </table>
  <div class="new-btn px-xl pt-xl mt-xl d-inline-block">
    <%= link_to 'New article', new_article_path, {class: 'd-inline-block color-blue text-white input-new btn'}%>
  </div>
</section>
