<div class="form-header color-header-back text-white d-flex align-items-center justify-content-space-between px-xxl py-sm">
  <h1>Show article</h1>
  <div class="justify-content-space-around">
    <%= link_to 'Edit Article', edit_article_path(@article) , class: "btn color-white text-black p-xs" %> |
    <%= link_to 'Back', articles_path , class: "btn color-white text-black p-xs" %>
  </div>
</div>

<div class="d-flex w-100 p-md">
  <div class="w-100">
    <div class="content-block color-white p-md">
      <p class="post-title fs-lg">
        <strong>Title:</strong>
        <%= @article.title %>
      </p>
      <p class="post-body fs-md mt-md">
        <strong>Text:</strong>
        <%= @article.text %>
      </p>
    </div>
    <section class="comments-block w-100 mt-xl color-white p-md">
      <div class="w-100 d-inline-block text-left">
        <h2>Comments</h2>
        <%= render @article.comments %>
      </div>
    </section>
  </div>
  <section class="comment-block text-right">
    <div class="comment_card color-white d-inline-block text-center m-auto">
      <h2>コメント追加</h2>
      <%= render "comments/form" %>
    </div>
  </section>
</div>